<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleIdentifier</key>
	<string>com.apple.ScriptEditor.id.URL-Utilities-copy</string>
	<key>CFBundleName</key>
	<string>URL Utilities copy</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>OSAScriptingDefinition</key>
	<string>URL Utilities</string>
	<key>WindowState</key>
	<dict>
		<key>dividerCollapsed</key>
		<false/>
		<key>eventLogLevel</key>
		<integer>2</integer>
		<key>name</key>
		<string>ScriptWindowState</string>
		<key>positionOfDivider</key>
		<real>539</real>
		<key>savedFrame</key>
		<string>586 -207 907 722 0 0 1280 778 </string>
		<key>selectedTabView</key>
		<string>event log</string>
	</dict>
</dict>
</plist>
